
dbpedia-abstracts/dbpedia-turtles/abstracts_fr5.ttl
dbpedia-abstracts/dbpedia-turtles/abstracts_fr6.ttl
dbpedia-abstracts/dbpedia-turtles/abstracts_fr7.ttl
dbpedia-abstracts/dbpedia-turtles/abstracts_fr8.ttl
dbpedia-abstracts/dbpedia-turtles/abstracts_fr9.ttl
dbpedia-abstracts/original-zipped/abstracts_fr0.ttl.gz
dbpedia-abstracts/original-zipped/abstracts_fr1.ttl.gz
dbpedia-abstracts/original-zipped/abstracts_fr10.ttl.gz
dbpedia-abstracts/original-zipped/abstracts_fr11.ttl.gz
dbpedia-abstracts/original-zipped/abstracts_fr12.ttl.gz
dbpedia-abstracts/original-zipped/abstracts_fr13.ttl.gz
dbpedia-abstracts/original-zipped/abstracts_fr14.ttl.gz
dbpedia-abstracts/original-zipped/abstracts_fr15.ttl.gz
dbpedia-abstracts/original-zipped/abstracts_fr16.ttl.gz
dbpedia-abstracts/original-zipped/abstracts_fr17.ttl.gz
dbpedia-abstracts/original-zipped/abstracts_fr2.ttl.gz
dbpedia-abstracts/original-zipped/abstracts_fr20.ttl.gz
dbpedia-abstracts/original-zipped/abstracts_fr21.ttl.gz
dbpedia-abstracts/original-zipped/abstracts_fr22.ttl.gz
dbpedia-abstracts/original-zipped/abstracts_fr23.ttl.gz
dbpedia-abstracts/original-zipped/abstracts_fr24.ttl.gz
dbpedia-abstracts/original-zipped/abstracts_fr25.ttl.gz
dbpedia-abstracts/original-zipped/abstracts_fr26.ttl.gz
dbpedia-abstracts/original-zipped/abstracts_fr27.ttl.gz
dbpedia-abstracts/original-zipped/abstracts_fr28.ttl.gz
dbpedia-abstracts/original-zipped/abstracts_fr29.ttl.gz
dbpedia-abstracts/original-zipped/abstracts_fr3.ttl.gz
dbpedia-abstracts/original-zipped/abstracts_fr30.ttl.gz
dbpedia-abstracts/original-zipped/abstracts_fr31.ttl.gz
dbpedia-abstracts/original-zipped/abstracts_fr32.ttl.gz
dbpedia-abstracts/original-zipped/abstracts_fr33.ttl.gz
dbpedia-abstracts/original-zipped/abstracts_fr34.ttl.gz
dbpedia-abstracts/original-zipped/abstracts_fr35.ttl.gz
dbpedia-abstracts/original-zipped/abstracts_fr36.ttl.gz
dbpedia-abstracts/original-zipped/abstracts_fr37.ttl.gz
dbpedia-abstracts/original-zipped/abstracts_fr4.ttl.gz
dbpedia-abstracts/original-zipped/abstracts_fr5.ttl.gz
dbpedia-abstracts/original-zipped/abstracts_fr6.ttl.gz
dbpedia-abstracts/original-zipped/abstracts_fr7.ttl.gz
dbpedia-abstracts/original-zipped/abstracts_fr8.ttl.gz
dbpedia-abstracts/original-zipped/abstracts_fr9.ttl.gz
dbpedia-abstracts/original-zipped/abstracts_fr7.ttl.gz
dbpedia-abstracts/original-zipped/abstracts_fr6.ttl.gz
dbpedia-abstracts/original-zipped/abstracts_fr5.ttl.gz
dbpedia-abstracts/original-zipped/abstracts_fr4.ttl.gz
dbpedia-abstracts/original-zipped/abstracts_fr37.ttl.gz
dbpedia-abstracts/original-zipped/abstracts_fr36.ttl.gz
dbpedia-abstracts/original-zipped/abstracts_fr35.ttl.gz
dbpedia-abstracts/original-zipped/abstracts_fr34.ttl.gz
dbpedia-abstracts/original-zipped/abstracts_fr33.ttl.gz
dbpedia-abstracts/original-zipped/abstracts_fr32.ttl.gz
dbpedia-abstracts/original-zipped/abstracts_fr31.ttl.gz
dbpedia-abstracts/original-zipped/abstracts_fr30.ttl.gz
dbpedia-abstracts/original-zipped/abstracts_fr3.ttl.gz
dbpedia-abstracts/original-zipped/abstracts_fr29.ttl.gz
dbpedia-abstracts/original-zipped/abstracts_fr28.ttl.gz
dbpedia-abstracts/original-zipped/abstracts_fr27.ttl.gz
dbpedia-abstracts/original-zipped/abstracts_fr26.ttl.gz
dbpedia-abstracts/original-zipped/abstracts_fr25.ttl.gz
dbpedia-abstracts/original-zipped/abstracts_fr24.ttl.gz
dbpedia-abstracts/original-zipped/abstracts_fr23.ttl.gz
dbpedia-abstracts/original-zipped/abstracts_fr22.ttl.gz
dbpedia-abstracts/original-zipped/abstracts_fr21.ttl.gz
dbpedia-abstracts/original-zipped/abstracts_fr20.ttl.gz
dbpedia-abstracts/original-zipped/abstracts_fr2.ttl.gz
dbpedia-abstracts/original-zipped/abstracts_fr19.ttl.gz
dbpedia-abstracts/original-zipped/abstracts_fr18.ttl.gz
dbpedia-abstracts/original-zipped/abstracts_fr17.ttl.gz
dbpedia-abstracts/original-zipped/abstracts_fr16.ttl.gz
dbpedia-abstracts/original-zipped/abstracts_fr15.ttl.gz
dbpedia-abstracts/original-zipped/abstracts_fr14.ttl.gz
dbpedia-abstracts/original-zipped/abstracts_fr13.ttl.gz
dbpedia-abstracts/original-zipped/abstracts_fr12.ttl.gz
dbpedia-abstracts/original-zipped/abstracts_fr11.ttl.gz
dbpedia-abstracts/original-zipped/abstracts_fr10.ttl.gz
dbpedia-abstracts/original-zipped/abstracts_fr1.ttl.gz
dbpedia-abstracts/original-zipped/abstracts_fr0.ttl.gz
dbpedia-abstracts/dbpedia-turtles/abstracts_fr9.ttl
dbpedia-abstracts/dbpedia-turtles/abstracts_fr8.ttl
dbpedia-abstracts/dbpedia-turtles/abstracts_fr7.ttl
dbpedia-abstracts/dbpedia-turtles/abstracts_fr6.ttl
dbpedia-abstracts/dbpedia-turtles/abstracts_fr5.ttl
dbpedia-abstracts/dbpedia-turtles/abstracts_fr4.ttl
dbpedia-abstracts/dbpedia-turtles/abstracts_fr37.ttl
dbpedia-abstracts/dbpedia-turtles/abstracts_fr36.ttl
dbpedia-abstracts/dbpedia-turtles/abstracts_fr35.ttl
dbpedia-abstracts/dbpedia-turtles/abstracts_fr34.ttl
dbpedia-abstracts/dbpedia-turtles/abstracts_fr33.ttl
dbpedia-abstracts/dbpedia-turtles/abstracts_fr32.ttl
dbpedia-abstracts/dbpedia-turtles/abstracts_fr31.ttl
dbpedia-abstracts/dbpedia-turtles/abstracts_fr30.ttl
dbpedia-abstracts/dbpedia-turtles/abstracts_fr3.ttl
dbpedia-abstracts/dbpedia-turtles/abstracts_fr29.ttl
dbpedia-abstracts/dbpedia-turtles/abstracts_fr28.ttl
dbpedia-abstracts/dbpedia-turtles/abstracts_fr27.ttl
dbpedia-abstracts/dbpedia-turtles/abstracts_fr26.ttl
dbpedia-abstracts/dbpedia-turtles/abstracts_fr25.ttl
dbpedia-abstracts/dbpedia-turtles/abstracts_fr24.ttl
dbpedia-abstracts/dbpedia-turtles/abstracts_fr23.ttl
dbpedia-abstracts/dbpedia-turtles/abstracts_fr22.ttl
dbpedia-abstracts/dbpedia-turtles/abstracts_fr21.ttl
dbpedia-abstracts/dbpedia-turtles/abstracts_fr20.ttl
dbpedia-abstracts/dbpedia-turtles/abstracts_fr2.ttl
dbpedia-abstracts/dbpedia-turtles/abstracts_fr19.ttl
dbpedia-abstracts/dbpedia-turtles/abstracts_fr18.ttl
dbpedia-abstracts/dbpedia-turtles/abstracts_fr17.ttl
dbpedia-abstracts/dbpedia-turtles/abstracts_fr16.ttl
dbpedia-abstracts/dbpedia-turtles/abstracts_fr15.ttl
dbpedia-abstracts/dbpedia-turtles/abstracts_fr14.ttl
dbpedia-abstracts/dbpedia-turtles/abstracts_fr13.ttl
dbpedia-abstracts/dbpedia-turtles/abstracts_fr12.ttl
dbpedia-abstracts/dbpedia-turtles/abstracts_fr11.ttl
dbpedia-abstracts/dbpedia-turtles/abstracts_fr10.ttl
dbpedia-abstracts/dbpedia-turtles/abstracts_fr1.ttl
dbpedia-abstracts/dbpedia-turtles/abstracts_fr0.ttl
base-tapioca/data/all-english.bow.pkl
base-tapioca/data/all-french.bow.pkl
base-tapioca/data/best_classifier_so_far.pkl
base-tapioca/data/latest-all.json.bz2
base-tapioca/data/latest_classifier.pkl
base-tapioca/data/rss_istex_classifier.pkl
base-tapioca/data/small/labels_fr.txt
base-tapioca/data/small/small-graph.npz
base-tapioca/data/small/small-graph.pgrank.npy
base-tapioca/data/small/small-graph.tsv
base-tapioca/data/small/small.bow.pkl
base-tapioca/data/small/small.json.bz2
base-tapioca/data/small/small.unsorted.tsv
base-tapioca/data/train-test/istex_test.ttl
base-tapioca/data/train-test/istex_train.ttl
base-tapioca/data/train-test/merged_RSS-500_and_istex_train.ttl
base-tapioca/data/train-test/RSS-500_wd.test.ttl
base-tapioca/data/train-test/RSS-500_wd.train.ttl
base-tapioca/data/train-test/RSS-500_wd.ttl
base-tapioca/data/wikidata/latest-all.unsorted.tsv
base-tapioca/data/wikidata/wikidata-graph.npz
base-tapioca/data/wikidata/wikidata-graph.pgrank.npy
base-tapioca/data/wikidata/wikidata-graph.tsv
